* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  background-color: #f1f1f1;
}

/* Left and right column */
.column.side {
  width: 10%;
}

/* Middle column */
.column.middle {
  width: 80%;
}

.column {
  float: left;
  padding: 10px;
  background-color: #f1f1f1;
}

/* Left and right column */
.column.side {
  width: 10%;
}

/* Middle column */
.column.middle {
  width: 80%;
}

.postdetails {
  border-style: solid;
  border-width: 2px;
  overflow: auto;
  margin-bottom: 5px;
}

.avatar {
  float: left;
  margin-right: 20px;
}

.post {
  float: left;
  padding: 10px;
  background-color: #f1f1f1;
}

.post.top {
  background-color: lightgray;
  border-style: solid;
  border-color: darkgray;
  border-width: 1px;
  width: 100%;
}

.post.left {
  width: 30%;
}

.post.right {
  width: 70%;
  border-style: solid;
  border-width: 1px;
  height: 215px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}